/* app css stylesheet */

body:after{
    display:none;
    content: url(Flatirons-1600x650.png) url(Flatirons-991x415.jpg) url(672309main_M107_991x335.jpg) url(672309main_M107_full.jpg);
}

.hide {
   display: none;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li.hide {
   display: none;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

p.status {
   color: red;
}

p.status.good, p.good {
   color: green;
}

/*
form label {
   display: block;
   margin: 15px 0;
}

form label span {
   display: block;
   font-weight: bold;
}
*/

.error {
   color: red;
}

fieldset {
   float: left;
   margin-right: 25px;
   padding: 25px;
}

/* swipejs */
.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}

/* custom */

.rch-nav-link{
   position: relative;
   display:inline-block;
   vertical-align:top;
   
   color:#222;
   text-align:left;
   margin-left:auto;
   margin-right:auto
}


