<div class="main-section">
    <div class="w-container">
      <div class="w-row page-header">
        <div class="w-col w-col-6">
          <h4><a class="rch-nav-link" href="#/home">Home</a> / Account</h4>
        </div>
        <div class="w-col w-col-6"></div>
      </div>
    </div>
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-4">
          <div class="w-form">
            <form name="email-form" data-name="Email Form">
              <h4>Profile</h4>
              <label for="name">Name:</label>
              <input ng-model="user.name" class="w-input" type="text" placeholder="Enter your name" name="name" data-name="Name"></input>
              <label for="email">Email Address:</label>
              <input ng-model="user.email" class="w-input" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required"></input>
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <div class="w-form">
            <form name="email-form" data-name="Email Form">
              <h4>Update Password</h4>
              <label>Old Password:</label>
              <input ng-keypress="reset()" ng-model="oldpass" class="w-input" type="password" placeholder="Old password" name="oldpassword" required="required" data-name="OldPassword"></input>
              <label>New Password:</label>
              <input ng-keypress="reset()" ng-model="newpass" class="w-input" type="password" placeholder="New password" name="newpassword" required="required" data-name="NewPassword"></input>
              <label>Confirm Password:</label>
              <input ng-keypress="reset()" ng-model="confirm" class="w-input" type="password" placeholder="Confirm password" name="confirmpassword" required="required" data-name="ConfirmPassword"></input>
              <input ng-click="updatePassword()" class="button" type="submit" value="Update Password" data-wait="Please wait..."></input>
              <p class="error" ng-show="err">{{err}}</p>
              <p class="good" ng-show="msg">{{msg}}</p>
            </form>
            <div class="w-form-done">
              <p>Thank you! Your submission has been received!</p>
            </div>
            <div class="w-form-fail">
              <p>Oops! Something went wrong while submitting the form :(</p>
            </div>
          </div>
        </div>
        <div class="w-col w-col-4">
          <h4>Actions</h4>
          <input ng-click="logout()" class="button" type="submit" value="Log Out" data-wait="Please wait..."></input>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    mixpanel.track("loaded-contact");
</script>