<div>
    <div class="hero-bg">
      <div class="w-container">
        <div class="w-row">
          <div class="w-col w-col-5"><a class="w-inline-block main-title" href="#"><h1 id="page-nav-Section-1">Software Engineer</h1><h3>Boulder, Colorado</h3></a>
          </div>
          <div class="w-col w-col-7 w-hidden-small w-hidden-tiny"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h4>Ryan C. Hill</h4>
          <p>My professional experience dates back to the late 1990's, when browser compatibility and the lack of native code portability constrained even the most humble projects. While these issues are still generally relevant, especially in the case of
            mobile development, I am truly excited to be working in a field where new ideas can often be realized as marketable products with staggering efficiency.&nbsp;&nbsp;ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean
            faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus
            id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
        </div>
        <div class="w-col w-col-6">
          <div class="w-row">
            <div class="w-col w-col-6">
              <img class="img-example" src="images/-scipy-148x138.jpg" alt="52f2687f147dca6348000c56_-scipy-148x138.jpg">
              <img class="img-example" src="images/-amqp-148x138.jpg" alt="52f268b1add5fecd1b000c8f_-amqp-148x138.jpg">
            </div>
            <div class="w-col w-col-6">
              <img class="img-example" src="images/-clojure-148x138.jpg" alt="52f26891147dca6348000c58_-clojure-148x138.jpg">
              <img class="img-example" src="images/-owl-148x138.jpg" alt="52f268cae46dc3cb1b000c64_-owl-148x138.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section grey">
      <div class="w-container">
        <div class="w-row secondary-row">
          <div class="w-col w-col-8 w-col-small-6">
            <h4>Web Application Design and Development</h4>
            <p>The technology I've chosen for my personal site represents a narrow sampling of the tools I use day-to-day. My decision to build certain features with AngularJS, Firebase, Mixpanel, and D3 was motivated by a desire to experiment outside of
              the venerable jQuery and Backbone ecosystems. Of course, I always exercise an abundance of caution when designing mission critical systems, and I prefer to base my recommendations on first-hand experience.</p>
          </div>
          <div class="w-col w-col-4 w-col-small-6 button-column"><a class="button" href="#">Site Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-hidden-small w-hidden-tiny content-bg two">
    <div class="w-container">
      <h2 id="page-nav-Section-3">Strategic Research</h2>
    </div>
  </div>
  <div class="section">
    <div class="w-container">
      <div class="w-row">
        <div class="w-col w-col-6">
          <h4>Featured Interests</h4>
          <div class="section-description">A few of the topics I am thinking about</div>
        </div>
        <div class="w-col w-col-6 right-col"><a class="more-link" href="#" target="_self">View More</a>
        </div>
      </div>
      <div class="w-row snippet-row">
        <div class="w-col w-col-4 w-clearfix">
          <a class="w-clearfix w-inline-block snippet" href="#">
            <img class="example-image" src="images/features-blueprint%20copy.jpg" alt="52f2b0a05d8eed2b6b000162_features-blueprint%20copy.jpg">
            <div class="snippet-text-section">
              <div class="snippet-title">Systems Integration and Architecture</div>
              <div class="snippet-text">data structure serialization, declarative services, continuous integration, and business process management</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-clearfix w-inline-block snippet" href="#">
            <img class="example-image" src="images/features-rbm.jpg" alt="52f2affa5d8eed2b6b000158_features-rbm.jpg">
            <div class="snippet-text-section">
              <div class="snippet-title">Semantic Search and Machine Learning</div>
              <div class="snippet-text">hypertableau reasoning, rete engines, latent derelict allocation, support vectors, and restricted boltzmann machines</div>
            </div>
          </a>
        </div>
        <div class="w-col w-col-4">
          <a class="w-clearfix w-inline-block snippet" href="#">
            <img class="example-image" src="images/features-knowledge-gradient.jpg" alt="52f2ad7573df7f296b0000c2_features-knowledge-gradient.jpg">
            <div class="snippet-text-section">
              <div class="snippet-title">Modeling and Optimization</div>
              <div class="snippet-text">semidefinite programming, diversity maximization,&nbsp;knowledge gradient estimation, and belief networks</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section grey">
    <div class="w-container">
      <div class="w-row secondary-row">
        <div class="w-col w-col-8 w-col-small-6">
          <h4>Consulting and Employment</h4>
          <p>I'm currently open for employment opportunities, preferably in the Boulder area or telecommuting.</p>
        </div>
        <div class="w-col w-col-4 w-col-small-6 button-column"><a class="button" href="#">Button Text</a>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript">
    mixpanel.track("loaded-projects");
</script>